
:root{
  --basic-black: #000000;
  --basic-white: #ffffff;
  --background-grey: #EEEEEE;
  --basic-red:#FB565A;
  --red-hover: #E74246;
  --red-activ: #D7373B;
  --basic-green:#00CA74;
  --green-hover: #00BC6C;
  --green-activ: #00AA62;
  --basic-yellow:#EFC849;
  --yellow-hover: #EAB534;
  --yellow-activ: #E5A722;
  --basic-grey: #E1E1E1;
  --grey-hover: #DFDFDF;
  --grey-activ: #D5D5D5;
  --grey-quiet-form: #D7DCDE;
  --grey-hover-form: #B4B9BB;
}


.page-body{
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template: min-content 1fr min-content;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}


 /*navigation*/
.main-navigation{
  display: grid;
  justify-content: stretch;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.main-header-logo{
  justify-self: left;
  position: absolute;
  width: 159.87px;
  height: 65.02px;
  left: 131px;
  top: 32.98px;
}

.main-header-bar{
  background-color: var(--basic-grey);
}

.main-navigation-wrapper{
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: var(--basic-grey);
}

.site-navigation{
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a,
.site-navigation a{
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus{
  color: var(--red-hover);
}

.site-navigation a:active{
  color: var(--red-activ);
}

.buy{
  font-weight: 500;
 font-size: 16px;
 line-height: 30px;
 color: var(--basic-black);
}

.buy a{
  color: var(--basic-black);
}

.buy:hover,
.buy:focus{
  color: var(--red-hover);
}

.buy:active{
  color: var(--red-activ);
}
/*slaider*/
.slaider{
  background-color: var(--background-grey);
}

.slaider-list{
  list-style: none;
}
.slaider-items{
  text-align: left;
}

.slaider-items
.subtitle{
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slaider-items p{
  font-size: 16px;
line-height: 24px;
}

/*дизайн студия Нёрдс*/
.services{
  outline: 5px solid rgba(255, 0, 0, 0.3);
}


.services-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  margin-bottom: 121px;
  padding: 0;
  list-style: none;
}

.services-items{
  text-align: center;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

 .button{
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  width: 160px;
  height: 50px;
  border-radius: 3px;
}

.red-button{
  color: var(--basic-white);
  background: var(--basic-red);

}

.red-button:hover{
  background: var(--red-hover);
}

.red-button:active{
  background: var(--red-activ);
}

.green-button{
  color: var(--basic-white);
  background: var(--basic-green);
}

.green-button:hover{
  background: var(--green-hover);
}

.green-button:active{
  background: var(--green-activ);
}

.yellow-button{
  color: var(--basic-white);
  background: var(--basic-yellow);
}

.yellow-button:hover{
  background: var(--yellow-hover);
}

.yellow-button:active{
  background: var(--yellow-activ);
}
/*about-us"*/
.about-us{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  margin-bottom: 73px;
  padding: 0;
  list-style: none;
}

.about-us .subtitle{
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.about-us-list{
  list-style: none;
  margin-bottom: 73px;
}
.desc{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

/*customers*/

.custumers-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.custumers-items{
text-align: center;
outline: 5px solid rgba(0, 0, 255, 0.3);
outline-offset: -5px;
}
/*footer*/

.contacts-phone{
  color: inherit;
}

.footer-social-slogan{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-social-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style: none;
}

.social-button{
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--basic-grey);
}

.social-button:hover{
  background-color: var(--red-hover);
}

.social-button:active{
  background: var(--red-activ);
}

.slogan{
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
/*appointment*/

.appointment-items input{
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--grey-quiet-form);
}

.appointment-items input:hover{
  border: 2px solid var(--grey-hover-form);
}

.appointment-items input:active{
  border: 2px solid var(--basic-black);
}

.appointment-items input:default{
  border: 2px solid var(--red-hover);
}
.appointment-text{
  width: 760px;
  height: 118px;
}

.button-send{
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  width: 160px;
  height: 50px;
  border-radius: 3px;
  background: var(--basic-red);
}

.button-send:hover{
  background: var(--red-hover);
}

.button-send:active{
  background: var(--red-activ);
}

/*CATALOG*/
/*filter*/
.filter
.subtitle{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.filter-list{
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  list-style: none;
}

/*.grid{
  font-size: 16px;
  line-height: 20px;
}
.grid
.subtitle{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.grid-list{
  list-style: none;
}

.grid-items{
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
*/
.characteristic-list{
  list-style: none;
}

.characteristic
.subtitle{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.characteristic-items{
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.button-show{
  font: inherit;
  text-align: center;
  width: 260px;
  height: 50px;
  background: var(--basic-grey);
  border-radius: 3px;
  border: none;
}

.button-show:hover{
  background: var(--green-hover);
}

/*готовые шаблоны*/
.catalog-list{
  list-style: none;
}

.catalog-items{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.popup{
  background: var(--basic-grey);
}

.desc{
  text-transform: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

/*страницы каталога*/
a{
  text-decoration: none;
}

.pagination-list{
  list-style: none;
  background-color: var(--basic-grey);
  border-radius: 3px;
}

.pagination-items a{
  text-decoration: none;
  color: var(--basic-black);
  padding: 10px;
  background: #DFDFDF;
}

.pagination-items a:hover {
  background: var(--grey-hover);
  border: 2px solid #DFDFDF;
}

.pagination-items a:active {
  background: var(--basic-white);
  border: 2px solid var(--grey-hover-form);
}