@font-face {
  font-family: "roboto";
  font-weight: normal;
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  font-weight: bold;
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "robotocondensed";
  src: url("../fonts/robotocondensed.woff2") format("woff2"), url("../fonts/robotocondensed.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "robotomedium";
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-display: swap;
}



:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --background-grey: #EEEEEE;
  --basic-red:#FB565A;
  --red-hover: #E74246;
  --red-activ: #D7373B;
  --basic-green:#00CA74;
  --green-hover: #00BC6C;
  --green-activ: #00AA62;
  --basic-yellow:#EFC849;
  --yellow-hover: #EAB534;
  --yellow-activ: #E5A722;
  --basic-grey: #E1E1E1;
  --grey-hover: #DFDFDF;
  --grey-activ: #D5D5D5;
  --grey-quiet-form: #D7DCDE;
  --grey-hover-form: #B4B9BB;
  --dark-grey: #4D4D4D;
  --scale-green: #00CA74;
  --range-grey: #ABABAB;
  --text-black: #283136;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.main-navigation-wrapper {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


 /*navigation*/
main {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  box-sizing: border-box;
 }

.main-header {
  margin-bottom: 0;
  background-color: var(--background-grey);
 }

.main-navigation {
  margin-bottom: 0;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
}

.main-header-logo {
  width: 159.87px;
  height: 65.02px;
  padding-top: 18px;
  padding-left: 3px
}

.main-header-logo:hover {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 620px;
  margin: 0;
  padding: 20px 67px 0 74px;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.site-navigation .active-item {
  border-bottom: 2px solid var(--basic-red);
  padding: 0;
  padding-bottom: 13px;
  margin: 25px 20px 15px;
}


.site-navigation a,
.user-buy a {
  color: var(--basic-black);
  display: block;
  padding: 25px 20px;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--red-hover);
}

.site-navigation a:active {
  color: var(--red-activ);
}

.user-buy {
  max-width: 180px;
  padding-left: 36px;
  padding-top: 20px;
  text-transform: uppercase;
}

.user-buy .buy {
 padding-left: 50px;
 padding-right: 0;
 position: relative;
}


.buy {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
}

.buy::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-image: url("../image/icons/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.buy a {
  color: var(--basic-black);
}

.buy:hover,
.buy:focus {
  color: var(--red-hover);
}

.buy:active {
  color: var(--red-activ);
}


/*slaider*/
.slaider {
  width: 100%;
  position: relative;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  background-color: var(--background-grey);
}

.slaider-list {
  padding: 0;
  list-style: none;
}

.slide {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.slide-subtitle {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  margin-top: 78px;
}

.slide-text {
  margin: 0;
  margin-top: 28px;
  padding: 0;
}

.slaid-current {
  display: block;
}

.slaider-items {
  text-align: left;
  margin-top: -15px;
}

.slide .button-slaider {
  height: fit-content;
  padding: 15px 40px 13px;
  margin-top: 37px;
  margin-bottom: 81px;
}

.slaider-items
.subtitle {
  width: 538px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.button-slaider {
  color: var(--basic-white);
  background: var(--basic-red);
}

.slider-items .button {
  display: inline-block;
  padding: 17px 54px 15px 54px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  vertical-align: center;
  text-decoration: none;
  background: var(--basic-red);
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  left: calc(50% - 44px );
  z-index: 20;
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current::before {
  content: "";
  position: relative;
  display: flex;
  box-sizing: border-box;
  left: 3px;
  width: 8px;
  height: 8px;
  border: 2px solid var(--basic-grey);
  background-color: var(--basic-white);
  border-radius: 50%;
}


/*дизайн студия Нёрдс*/
.services.container {
  padding-bottom: 80px;
  margin-bottom: 39px;
  border-bottom: 2px solid var(--basic-grey);
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 45px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-items {
  width: 300px;
}

.service-content img {
  width: 300px;
  height: 146px;
}

.services-items h3 {
  margin: 0;
  margin-top: 18px;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-items p {
  margin: 0;
  text-transform: none;
  margin-top: 16px;
  margin-bottom: 32px;
}

 .button {
  display: inline-block;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  width: 160px;
  height: 50px;
  border-radius: 3px;
}

.red-button {
  color: var(--basic-white);
  background: var(--basic-red);

}

.red-button:hover {
  background: var(--red-hover);
}

.red-button:active {
  background: var(--red-activ);
}

.green-button {
  color: var(--basic-white);
  background: var(--basic-green);
}

.green-button:hover {
  background: var(--green-hover);
}

.green-button:active {
  background: var(--green-activ);
}

.yellow-button {
  color: var(--basic-white);
  background: var(--basic-yellow);
}

.yellow-button:hover {
  background: var(--yellow-hover);
}

.yellow-button:active {
  background: var(--yellow-activ);
}

/*about-us"*/
.about-us {
  display: grid;
  grid-template-columns: 670px 1fr;
  column-gap: 133px;
  margin: 0;
  padding: 0;
  text-transform: none;
  list-style: none;
}

.about-us .subtitle {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  margin-top: 30px;
  margin-bottom: 37px;
  padding: 0;
}

.about-us-list {
  list-style: none;
  margin-bottom: 71px;
}

.about-us-list li {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.about-us-list li::before {
  content: "";
  position: absolute;
  bottom: 11px;
  left: -36px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.advantage h3 {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 23px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
}

.advantage-desc h3 {
  margin: 0;
  margin-top: -6px;
  margin-bottom: 35px;
  padding-left: 18px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
}

.advantage-desc a {
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
}

.desc {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.number {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.percentages {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px
}

.advantage-picture {
  width: 360px;
  height: 280px;
  margin: 0;
  margin-top: -37px;
  padding: 0;
  object-fit: contain;
  background-color: var(--basic-white);
}

/*customers*/
.custumers {
  display: flex;
  width: 1160px;
}

.custumers-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 90px;
  padding: 37px 0;
  margin: 0;
  margin-bottom: 75px;
  margin-top: 2px;
  list-style: none;
  border-top: 2px solid var(--basic-grey);
  border-bottom: 2px solid var(--basic-grey);
}

.custumers-items {
  position: relative;
  text-align: center;
  margin-top: 5px;
  opacity: 0.2;
}

.custumers-items:hover {
  opacity: 1;
  cursor: pointer;
}

.custumers-items:active {
  opacity: 0.1;
}

.custumers-items::before {
  content: "";
  position: absolute;
  bottom: 27px;
  left: -43px;
  width: 2px;
  height: 52px;
  background-color: var(--background-grey);
}

.custumers-items:first-of-type::before {
  display: none;
}

.custumers-picture-htmlacademy {
width: 199px;
height: 58px;
margin: 0;
padding-left: 5px;
padding-top: 17px;
object-fit: contain;
background-color: var(--basic-white);
}

.custumers-picture-bobrodinsky {
  width: 209px;
  height: 90px;
  margin: 0;
  padding: 0;
  padding-left: 2px;
  object-fit: contain;
  background-color: var(--basic-white);
  }

.custumers-picture-pink {
  width: 185px;
  height: 52px;
  margin: 0;
  padding-top: 20px;
  padding-left: 6px;
  object-fit: contain;
  background-color: var(--basic-white);
  }

.custumers-picture-mishka {
  width: 173px;
  height: 84px;
  margin: 0;
  margin-top: 8px;
  margin-left: 6px;
  padding: 0;
  object-fit: contain;
  background-color: var(--basic-white);
  }

/*footer*/

.contacts-phone {
  color: inherit;
}

.main-contacts {
  position: relative;
}


.contacts {
  position: absolute;
  top: 54px;
  left: 165px;
  padding: 0;
  margin: 0;
  width: 319px;
  text-transform: none;
  background-color: var(--basic-white);
}

.contacts-address br {
  padding: 0;
  margin: 0;
}

.contacts h3 {
  margin-top: 49px;
  margin-bottom: 23px;
  margin-left: 50px;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.contacts p {
  margin: 0;
  margin-left: 50px;
  margin-bottom: 30px;
  padding: 0;
}

.contacts-phone {
  margin-top: 20px;
  margin-bottom: 47px;
  text-transform: uppercase;
  color: var(--basic-black)
}


.button-write {
  height: fit-content;
  padding: 15px 30px 15px;
  margin-top: 4px;
  margin-left: 52px;
  margin-bottom: 47px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.modal-map {
  display: flex;
  justify-content: center;
  padding-left: 5px;
  padding-top: 5px;
}

.map-marker {
  position: absolute;
  right: 616px;
  top: 73px;
}

.footer-social-slogan {
  display: grid;
  grid-template-columns: 270px 1fr;
  column-gap: 85px;
  width: 1060px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 397px;
  padding: 0;
  list-style: none;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:  260px;
  height: 80px;
  margin-top: 63px;
  margin-bottom: 68px;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--basic-grey);
}

.social-button:hover {
  background-color: var(--red-hover);
}

.social-button img:active {
  background: var(--red-activ);
  opacity: 0.2;
}

.footer-slogan p {
  padding: 0;
}

.footer-slogan {
  margin-top: 60px;
  padding-left: 50px;
}

.slogan {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
  margin: 0;
  margin-top: 12px;
  margin-left: -3px;
  margin-bottom: -5px;
}

/*appointment*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: var(--basic-white);
  box-shadow: 0px 25px 20px var(--basic-grey);
}

.modal-close {
  content: "";
  position: absolute;
  left: 854px;
  top: 79px;
  width: 23px;
  height: 23px;
  background-image: url("../image/icons/close-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
  background-color: var(--basic-white);
  border: none;
}

.modal-close:hover {
  opacity: 1;
  cursor: pointer;
}

.modal-close:active {
  opacity: 0.2;
  cursor: pointer;
}

.appointment {
  bottom: auto;
  width: 760px;
  padding-top: 63px;
  padding-right: 106px;
  padding-bottom: 85px;
  padding-left: 100px;
}

.appointment form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.name-email {
  display: grid;
  grid-template-columns: 350px 350px;
  column-gap: 49px;
  margin-bottom: 5px;
}

.appointment h2 {
  margin: 0;
  margin-top: 3px;
  margin-bottom: 22px;
  margin-left: 5px;
  padding: 0;
  text-transform: none;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.appointment-items .name,
.appointment-items .email {
  width: 330px;
  height: 50px;
  margin: 0;
  padding: 0;
  margin-left: 100px;
  margin-bottom: 34px;
}

.appointment-items .email {
  margin-left: 10px;
}

.text {
  margin-left: 10px;
}

.appointment-items label {
  display: block;
  margin-bottom: 9px;
  margin-left: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
}

.appointment-items input {
  width: 320px;
  padding-top: 13px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-left: 15px;
}

.appointment-items input {
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--grey-quiet-form);
}

.appointment-items input:hover {
  border: 2px solid var(--grey-hover-form);
}

.appointment-items input:active {
  border: 2px solid var(--basic-black);
}

.appointment-items input:default {
  border: 2px solid var(--red-hover);
}

.appointment-text input {
  width: 760px;
  height: 118px;
  margin: 0;
  padding: 0;
}

.appointment-text label {
  display: block;
  margin-bottom: 9px;
  margin-left: 0;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
}

.button-send {
  margin-top: 47px;
  margin-left: 100px;
  margin-bottom: -16px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  width: 259px;
  height: 50px;
  border-radius: 3px;
  color: var(--basic-white);
  background: var(--basic-red);
}

.button-send:hover {
  background: var(--red-hover);
}

.button-send:active {
  background: var(--red-activ);
}

/*CATALOG*/
/*filter*/

.page-title {
  margin: 0;
  padding-top: 58px;
  padding-left: 7px;
  padding-bottom: 108px;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 55px;
  line-height: 55px;
  background-color: var(--background-grey);
}


.project-sort {
  margin: 0;
  padding: 0;
}


.subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.filter-list {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  list-style: none;
}

.price {
  margin: 0;
  padding: 0;
  border: none;
}

.price legend {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  padding-top: 52px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: 0;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--background-grey);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--grey-quiet-form);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--scale-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--range-grey);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 45px;
}

.range-controls .toggle-max {
  left: 130px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--text-black);
  border: none;
  border-radius: 5px;
  background-color: var(--background-grey);
  font-family: inherit;
  font-size: inherit;
}


/* main-catalog*/


.main-filter {
  display: grid;
  grid-template-columns: 264px 1fr;
  margin: 0;
  padding: 0;
}

.main-filter label {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.filter {
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
  width: 260px;
  padding-left: 3px;
  padding-top: 1px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.grid {
  margin: 0;
  margin-bottom: 47px;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}
.grid legend {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  padding-top: 18px;
}
.grid-list {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  list-style: none;
}

.grid-items {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.grid-items label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  border: 5px solid var(--dark-grey);
  opacity: 0.4;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -35px;
  top: 6px;
  width: 9px;
  height: 9px;
  box-sizing: border-box;
  border: 5px solid var(--dark-grey);
  opacity: 0.4;
  border-radius: 50%;
}

.filter-input-radio + label:hover::before {
  opacity: 1;
}

.filter-input-radio:checked + label:hover::after {
  opacity: 1;
}

.filter-input-radio + label:disabled::before {
  opacity: 0.3;
}

.filter-input-radio:checked + label:disabled::after {
  opacity: 0.3;
}

.characteristic-list {
  list-style: none;
}

.characteristic legend {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}

.characteristic-items {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.characteristic-items label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../image/icons/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox + label:hover::before {
  opacity: 1;
}

.filter-input-checkbox + label:disabled::before {
  opacity: 0.3;
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../image/icons/checkbox-on.svg");
}

.button-show {
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  width: 260px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background: var(--basic-grey);
  border-radius: 3px;
  border: none;
}

.button-show:hover {
  background: var(--grey-hover);
}

.project-sort {
  display: grid;
  grid-template-columns: 134px 1fr;
}

.project-sort p {
  margin: 0;
  margin-top: 55px;
  margin-bottom: 48px;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  margin-top: 61px;
  margin-right: -8px;
  margin-left: 266px;
  padding: 0;
  list-style: none;
}

.sort-list li {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.sort-list li:hover {
  opacity: 0.6;
}

.sort-list-activ {
  color: var(--basic-black);
  opacity: 1;
}

.sort-list-up-down {
  display: flex;
  list-style: none;
}

.down {
  margin-left:10px;
}

.up {
  margin-left:10px;
}

/*готовые шаблоны*/

.catalog {
  margin-left: 140px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 42px;
  row-gap: 25px;
  padding: 0;
  margin: 0;
  margin-bottom: 47px;
  list-style: none;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 358px;
  min-height: 578px;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.catalog-item:hover {
  box-shadow: 0 15px 20px var(--basic-grey);
}

.catalog-item::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  background-image: url("../image/browser.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-picture {
  width: 358px;
  height: 578px;
  margin: 0;
  margin-top: 38px;
  object-fit: contain;
  background-color: var(--basic-white);
}

.popup {
  display: none;
  flex-direction: column;
  text-align: center;
  background: var(--background-grey);
}

.popup-title {
  display: flex;
  justify-content: center;
  margin-top: 26px;
  margin-bottom: 12px;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.popup-title:hover {
  color: var(--basic-red);
  cursor: pointer;
}

.popup-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-item:hover .popup {
  display: flex;
  position: absolute;
  bottom: 0;
}

.popup-desc {
  text-transform: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-left: -4px;
}

 .popup-button {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-right: 80px;
  margin-bottom: 44px;
  margin-left: 80px;
  font-weight: normal;
  width: 200px;
  padding-top: 17px;
}

/*страницы каталога*/
a {
  text-decoration: none;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--background-grey);
  border-radius: 3px;
}

.pagination-items a {
  display: block;
  text-decoration: none;
  color: var(--basic-black);
  padding-top: 15px;
  padding-right: 19px;
  padding-bottom: 10px;
  padding-left: 20px;
  background:var(--background-grey);
}

.next {
  display: flex;
  text-align: center;
  width: 220px;
}

.pagination-items {
  margin-right: 11px;
}

.pagination-items:last-child {
  margin-right: 0;
}

.pagination-items a:hover {
  background: var(--grey-hover);
}

.pagination-items.active {
  background: var(--basic-white);
  opacity: 0.1;
  border: 2px solid var(--dark-grey);
  box-shadow: inset 0px 3px 0px var(--basic-black);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
